#cloud-config
password: osm4u
chpasswd: { expire: False }
ssh_pwauth: True
sudo: ["ALL=(ALL) NOPASSWD:ALL"]

write_files:
-   content: |
        # My new helloworld file

    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/helloworld.txt
-   content: |
        Certoooooooooooo
    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/prova.sh
-   content: !!binary |
        IyEvYmluL3NoDQpJRlM9JCcgXHRcbicNCmVjaG8gIlN0YXJ0IGludGVyZmFjZXMgY29uZmlndXJhdGlvbi4uLiINCmVjaG8gIlNldCBtZ210IGlmYWNlLi4uIg0KaXBfc3VibmV0PSQoaXAgcm91dGUgfCBncmVwIGVuczUgfCBhd2sgJ3twcmludCAkMX0nKQ0KZWNobyAkaXBfc3VibmV0DQppcD0kKGlmY29uZmlnIGVuczUgMj4vZGV2L251bGwgfCBhd2sgJy9pbmV0IGFkZHI6LyB7cHJpbnQgJDJ9J3wgc2VkICdzL2FkZHI6Ly8nKQ0KZWNobyAiQWRkcmVzcyBub2RlOiAkaXAiDQppcF9ubWFwPSQobm1hcCAtc24gJGlwX3N1Ym5ldCAtb0cgLSB8IGF3ayAnJDQ9PSJTdGF0dXM6IiAmJiAkNT09IlVwIiB7cHJpbnQgJDJ9JykNCmVjaG8gJGlwX25tYXANCmZvciBpIGluICRpcF9ubWFwDQpkbw0KaWYgWyAkaSAhPSAkaXAgXSAmJiBbICQoZWNobyAkaSB8IGN1dCAtZiA0IC1kLikgIT0gIjIiIF0NCnRoZW4NCiAgaXBfZW5zNV9uZXh0PSRpDQpmaQ0KDQpkb25lDQplY2hvICRpcF9lbnM1X25leHQNCmlwX2ZpbmFsPSQoZWNobyAkaXBfZW5zNV9uZXh0KQ0KZWNobyAiaXAgbmV4dGhvcDogJGlwX2ZpbmFsIg0KSUZTPSQnICcNCmVjaG8gInNldCBETkFUIg0Kc3VkbyBpcHRhYmxlcyAtdCBuYXQgLUEgUFJFUk9VVElORyAtaSBlbnM0IC1qIEROQVQgLS10by1kZXN0aW5hdGlvbiAkaXBfZmluYWwNCmVjaG8gInNldCBTTkFUIg0Kc3VkbyBpcHRhYmxlcyAtdCBuYXQgLUEgUE9TVFJPVVRJTkcgLW8gZW5zNSAtZCAkaXBfZmluYWwgLWogU05BVCAtLXRvLXNvdXJjZSAkaXANCg0KI3N1ZG8gaXAgcm91dGUgYWRkIDguOC44LjAvMjQgdmlhICRpcF9maW5hbCBkZXYgZW5zNQ0KI3N1ZG8gaXAgcm91dGUgYWRkIDguOC44LjAvMjQgdmlhICRpcF9maW5hbCBkZXYgZW5zNQ0KI3N1ZG8gaXAgcm91dGUgYWRkIDEwLjIwOC4wLjAvMjQgdmlhIDEwLjIwOC4wLjEgZGV2IGVuczMNCiNlY2hvICJlbnMzIGNvbmZpZ3VyZWQuLi4iDQojc3VkbyBpcCByb3V0ZSBkZWwgZGVmYXVsdA0KI2VjaG8gIndhaXQuLi4iDQojc3VkbyBpcCByb3V0ZSBhZGQgZGVmYXVsdCB2aWEgJGlwIGRldiBlbnM1DQojZWNobyAiZW5zNSBjb25maWd1cmVkLi4uIg0KI3N1ZG8gaXB0YWJsZXMgLXQgbmF0IC1BIFBPU1RST1VUSU5HIC1vIGVuczUgLWogTUFTUVVFUkFERQ0KI2VjaG8gImlwdGFibGVzIGNvbmZpZ3VyZWQuLi4iDQp1bnNldCBJRlM=
    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/script.sh
-   content: !!binary |
        DQphdXRvIGVuczQNCmlmYWNlIGVuczQgaW5ldCBkaGNwDQoNCmF1dG8gZW5zNQ0KaWZhY2UgZW5zNSBpbmV0IGRoY3A=
    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/append.sh
-   content: !!binary |
        c3VkbyBzaCAtYyAnY2F0IGFwcGVuZC5zaCA+PiAvZXRjL25ldHdvcmsvaW50ZXJmYWNlcy5kLzUwLWNsb3VkLWluaXQuY2ZnJw0Kc3VkbyBzaCAtYyAnL2V0Yy9pbml0LmQvbmV0d29ya2luZyByZXN0YXJ0Jw==
    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/network.sh
-   content: !!binary |
        IyEvYmluL3NoDQpzdWRvIHNoIC1jICJ0ciAtZCAnXFxyJyA8IHNjcmlwdC5zaCA+IHNjcmlwdDEuc2giDQpzdWRvIG12IHNjcmlwdDEuc2ggc2NyaXB0LnNo
    owner: root:root
    permissions: '0644'
    path: /home/ubuntu/convertion.sh

runcmd:
 -   'mkdir ok'
 -   'mkdir tuttook'
 -   'sysctl -w net.ipv4.ip_forward=1'
 -   'source network.sh'

packages:
 - nmap


